In [1]:
#1. Import the libraries and print the information about dataset i.e diabetes.csv

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
diabetes = pd.read_csv('diabetes.csv')
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [21]:
#2. Check for datatypes i.e categorical, integer and float in dataset
diabetes.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [8]:
#3. check the columns that have null values
diabetes.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [10]:
#4. Apply the sort on Age column in descending order
print(diabetes.sort_values(by=['Age'],ascending=False))

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
459            9      134             74             33       60  25.9
453            2      119              0              0        0  19.6
666            4      145             82             18        0  32.5
123            5      132             80              0        0  26.8
684            5      136             82              0        0   0.0
..           ...      ...            ...            ...      ...   ...
240            1       91             64             24        0  29.2
136            0      100             70             26       50  30.8
382            1      109             60              8      182  25.4
392            1      131             64             14      415  23.7
271            2      108             62             32       56  25.2

     DiabetesPedigreeFunction  Age  Outcome
459                     0.460   81        0
453                     0.832   72        0
666                     0.235   70        1
123                     0.186   69        0
684                     0.640   69        0
..                        ...  ...      ...
240                     0.192   21        0
136                     0.597   21        0
382                     0.947   21        0
392                     0.389   21        0
271                     0.128   21        0

[768 rows x 9 columns]

In [20]:
diabetes[diabetes.Outcome == 1].count()

Pregnancies                 268
Glucose                     268
BloodPressure               268
SkinThickness               268
Insulin                     268
BMI                         268
DiabetesPedigreeFunction    268
Age                         268
Outcome                     268
dtype: int64